<h1>Basic English</h1>

<% if @success %>
  <%= @text %>
<% else
  unless @text.nil? || @text.empty?
    @str = @text.gsub("%20"," ")
  end
 %>

  Nothing returned for <%= link_to(@str,'http://www.google.com/search?hl=en&q='+@text+'&btnI=I%27m+Feeling+Lucky') %>

<% end %>